header{
    display: flex;
align-items: center;
justify-content: space-around;
}
img{

        width: 15rem;
        margin: 0%;
        padding: 0%;
        align-items: center;
    }

    nav{

        ul{display: flex;
            
            a{
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        margin: 10px;
        transition: transform 0.3s ease;

&:hover{ color:rgb(124, 28, 189);
    transform: scale(1.2);}
            }
        
    }
}


.navbar {
    &.bg-light {
      background-color:purple; // Ajusta el color de fondo según tu diseño
      // Otros estilos de la barra de navegación si los tienes
    }
  
    .busqueda {
      form {
        display: flex;
  
        input.form-control {
          // Estilos para el campo de búsqueda si es necesario
          margin-right: 0%; // Espacio entre el campo de búsqueda y el botón
        }
  
        button.boton {
          // Estilos para el botón
          background-color: gray; // Color de fondo del botón
          color: #fff; // Color del texto del botón
          border-radius: 1px; // Elimina el borde
          padding: 6px 14px; // Ajusta el relleno del botón
          cursor: pointer; // Cambia el cursor al pasar sobre el botón
          &:hover {
            background-color: purple; 
            transition: 2s;
          }
  }
      }
    }
  }
  