header{
    display: flex;
align-items: center;
justify-content: space-around;
}
img{

        width: 15rem;
        margin: 0%;
        padding: 0%;
        align-items: center;
    }

    nav{

        ul{display: flex;
            
            a{
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        margin: 10px;
        transition: transform 0.3s ease;

&:hover{ color:rgb(124, 28, 189);
    transform: scale(1.2);}
            }
        
    }
}


.navbar {
    &.bg-light {
      background-color:purple; 
    }
  
    .busqueda {
      form {
        display: flex;
  
        input.form-control {
          margin-right: 0%; 
        }
  
        button.boton {
      
          background-color: gray; 
          color: #fff; // 
          border-radius: 1px; 
          padding: 6px 14px; 
          cursor: pointer; 
          &:hover {
            background-color: purple; 
            transition: 2s;
          }
  }
      }
    }
  }
  