main{
    div{
        .portadainicio{
    width: 100%;
            margin: 10px;
        opacity: 80%;}
        };
    };

    $placeholder-opacity-max:           .5;
    $placeholder-opacity-min:           .2;
